.hero {
  margin-bottom: 6.25rem;
  background-image: url(../../../../public/hero-bg.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;

  @media (max-width: 1440px) {
    margin-bottom: 5rem;
  }

  @media (max-width: 1280px) {
    background-position-x: -400px;
  }

  @media (max-width: 1120px) {
    background-position-x: -500px;
  }

  @media (max-width: 960px) {
    background-position-x: -700px;
  }

  @media (max-width: 800px) {
    background-position-x: -800px;
  }

  @media (max-width: 640px) {
    background-position-x: -1000px;
  }

  @media (max-width: 480px) {
    background-position-x: -1200px;
  }

  &:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(2, 2, 4, 0.55);
    position: absolute;
  }


  &__wrapper {
    position: relative;
    max-width: 570px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 35px;

    @media (max-width: 1120px) {
      gap: 30px;
    }
  }

  &__title {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;

    @media (max-width: 1120px) {
      font-size: 50px;
    }

    @media (max-width: 800px) {
      font-size: 45px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
}