//Variables
@import "../../app/variables";

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 5;
  transform: translateX(-200%);
  transition: all .3s ease;

  &.active {
    transform: translateX(0);
  }

  &__content {
    padding: 1.25rem;
    width: 50%;
    height: 100%;
    background-color: $light-dark-bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
  }

  &__item {
    &_link {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;

      &.active_link {
        color: $accent-color;
      }
    }
  }

  .user__buttons_authorized {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    @media (max-width: 570px) {
      flex-direction: column;
    }
  }

  .user__buttons_unauthorized {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    @media (max-width: 705px) {
      flex-direction: column;
    }

    .user__buttons_auth {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      @media (max-width: 505px) {
        flex-direction: column;
      }

      & > a {
        padding: 0.5rem 1rem;
        background-color: $accent-color;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      & > a:last-child {
        padding: 0.5rem 1rem;
        background-color: transparent;
        border-radius: 0.5rem;
        border: 1px solid $button-border-color;
      }
    }
  }

  .user__buttons {
    display: flex;
    align-items: center;
    gap: 2rem;

    &_logout {
      padding: 0.5rem 1rem;
      background-color: $accent-color;
      border-radius: 0.5rem;
    }

    .button {
      &__link > svg {
        font-size: 1.5rem;
      }
    }
  }
}