//Variables
@import "../../variables";

.button {
  padding: 14px 0;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  background-color: $accent-color;
  color: #ffffff;
  border-radius: 10px;

  @media (max-width: 1120px) {
    width: 170px;
  }

  @media (max-width: 800px) {
    width: 150px;
  }

  &.transparent_button {
    background-color: transparent;
    border: 1px solid $button-border-color;
  }
}

